# dependencies
node_modules
node_modules/.tmp

# next.js build output
.next
out
next-env.d.ts
*.tsbuildinfo
*.local

# env (never commit secrets)
.env
.env.*
!.env.example

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

# vercel
.vercel

# logs
*.log
npm-debug.log*
